.dashboardSection {
  width: 90%;
  margin: 1rem auto;
}

.wrapper {
  padding: 1rem;
}

.wrapper h2 {
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.arrowUp {
  height: 15px;
  width: 15px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  transform: rotate(45deg);
  margin-top: 10px;
}

.arrowDown {
  height: 15px;
  width: 15px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  transform: rotate(225deg);
}

.stats {
  margin-top: 1rem;
  display: grid;
  gap: 20px;
}

.products {
  margin: 1rem auto;
  background-color: #1f1f1f;
  border-radius: 5px;
}

@media screen and (min-width: 700px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .stats {
    grid-template-columns: repeat(4, 1fr);
  }
}
