.checkoutSection {
  width: 90%;
  margin: 3rem auto;
  background-color: #1f1f1f;
  border-radius: 5px;
  max-width: 30rem;
}

.checkoutWrapper {
  padding: 1rem;
}

.checkoutWrapper > h2 {
  color: blue;
}

.checkoutWrapper > p {
  margin-top: 0.3rem;
  font-weight: 700;
}

.checkoutActions {
  margin-top: 1rem;
}

.checkoutItem {
  display: flex;
  justify-content: space-between;
}
