header {
  width: 100%;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 7vh;
  /* position: sticky; */
}

.logo {
  font-size: 30px;
}

.navLinks {
  display: flex;
  width: 40rem;
  justify-content: space-evenly;
}

.navLinks li a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.navLinks li a:hover {
  border-bottom: 1px solid;
}

.navLinkActive {
  border-bottom: 1px solid white;
}

.blueNavLinkActive {
  border-bottom: 1px solid #0000ff;
}

.linksWrapper {
  display: flex;
}

.burger {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
  cursor: pointer;
}

.burgerLine {
  height: 3px;
  width: 30px;
  background-color: white;
}
@media screen and (max-width: 768px) {
  header {
    justify-content: space-around;
  }

  .burger {
    display: flex;
    transition: all ease-in 300ms;
  }

  .rotateBurger {
    transform: rotateZ(90deg);
  }

  .navLinks {
    position: absolute;
    top: 7vh;
    background-color: #1f1f1f;
    left: 0;
    height: 93vh;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    transform: translatex(-100%);
    transition: all ease-in 300ms;
  }

  .navLinksOpened {
    transform: translatex(0%);
  }

  .navLinks li a {
    display: flex;
    padding: 10px;
    background-color: #1f1f1f;
    font-size: 18px;
  }

  .navLinks .navLinkActive {
    border: none;
    background-color: white;
    color: black;
  }

  .navLinks .blueNavLinkActive {
    border: none;
    background-color: white;
    /* color: white; */
  }

  .linksWrapper {
    flex-direction: column;
  }
}
