.inputWrapper {
  padding: 0 1rem;
  padding-bottom: 0.6rem;
}

.inputWrapper > label {
  font-size: 0.9rem;
}

.inputWrapper > input {
  display: block;
  outline: none;
  border: none;
  padding: 0.3rem;
  width: 95%;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
  transition: all ease-in-out 150ms;
}

.inputWrapper > input:focus {
  border-bottom: 1px solid blue;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #1f1f1f inset;
}
