.inputWrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.inputWrapper > label {
  font-size: 0.9rem;
}

.inputWrapper > input {
  display: block;
  outline: none;
  border: none;
  padding: 0.3rem;
  background-color: transparent;
  border-bottom: 1px solid #ffffff79;
  color: white;
}

.inputWrapper > input:focus {
  border-bottom: 1px solid blue;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #1f1f1f inset;
}

.inputWrapper .invalidInput {
  border-bottom: 1px solid red;
}

.inputWrapper small {
  color: red;
  font-size: 12px;
}
