.checkoutForm > div > input {
  /* max-width: 10rem; */
}

.checkoutForm > h3 {
  color: blue;
  margin-top: 0.5rem;
}

.checkoutActions {
  margin-top: 1rem;
}

.checkoutActions > a {
  display: block;
  margin-top: 0.5rem;
  /* color: blue; */
}

.buttonsContainer > button,
.buttonsContainer > a > button {
  width: 100%;
}

.payBtn {
  background-color: #0000ff;
  color: white;
  margin-bottom: 0.5rem;
}

.payBtn:hover {
  background-color: #000070;
}

@media screen and (min-width: 768px) {
  .buttonsContainer > button,
  .buttonsContainer > a > button {
    width: 100px;
    margin-right: 1rem;
  }
}
