.item {
  background-color: black;
  margin-top: 2rem;
  border-radius: 5px;
}

img {
  width: 100%;
  height: auto;
  max-height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content {
  padding: 0.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  margin-top: 0.5rem;
}
.actions .buyBtn {
  margin-left: 0.3rem;
}

.buyBtn {
  background-color: #0000ff;
  color: white;
}

.buyBtn:hover {
  background-color: #000070;
}

@media screen and (min-width: 768px) {
  .item {
    width: 20rem;
    margin: 0 auto;
  }
}
