.item {
  background-color: #1f1f1f;
  margin-top: 2rem;
  border-radius: 5px;
}

.item img {
  width: 100%;
  height: auto;
  max-height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}

.content {
  padding: 0.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  margin-top: 0.5rem;
}

.actions .addBtn {
  background-color: #0000ff;
  color: white;
  margin-left: 0.3rem;
}

.actions .addBtn:hover {
  background-color: #000070;
}

@media screen and (min-width: 768px) {
  .item {
    width: 20rem;
    margin: 0 auto;
  }
}
